.nsw-brand-dark {
    background-color: $blue-01;
}

.nsw-grey-01 {
    background-color: $grey-01;
}

.nsw-grey-02 {
    background-color: $grey-02;
}

.nsw-grey-03 {
    background-color: $grey-03;
}

.nsw-grey-04 {
    background-color: $grey-04;
}