.bg-color-grey-02 {
    background-color: $grey-02;
}

.bg-color-grey-03 {
    background-color: $grey-03;
}

.bg-color-grey-04 {
    background-color: $grey-04;
}

.bg-color-teal-02 {
    background-color: $teal-02;
}

.bg-color-teal-03 {
    background-color: $teal-03;
}

.bg-color-teal-04 {
    background-color: $teal-04;
}

.bg-color-blue-02 {
    background-color: $blue-02;
}

.bg-color-blue-03 {
    background-color: $blue-03;
}

.bg-color-blue-04 {
    background-color: $blue-04;
}
