.top-heading {
    color: #fff;
    font-size: .9em;
    padding: 0.5em 0 .5em;
}

.dashboard-title {
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    font-weight: 700;
}