@import 'variables';
@import 'spacing';
@import 'containers';
@import 'brand';
@import 'text';
@import 'colors';
@import 'buttons';

.nsw-masthead {
    background-color: $blue-01;
}

.nsw-footer {
    &--dark {
        background-color: $blue-01;
    }

    .nsw-footer__lower {
        background-color: $blue-01;
    }
}

.nsw-blue {
    color: $blue-01;
}

.nsw-green {
    color: #00AA45;
}

.nsw-red {
    color: $red-02;
}